/*
Colors: 

Total Infected
class: danger-color-dark
color: #CC0000
Total Dead
class: danger-color
color: #ff4444
Total Dead Today
class: elegant-color-dark
color: #212121
Total New Cases Today
class: warning-color
color: #ffbb33
Total Active Cases
class: info-color
color: #33b5e5
Total Recovered
class: success-color
color: #00C851
*/