/*
Colors: 

Total Infected
class: danger-color-dark
color: #CC0000
Total Dead
class: danger-color
color: #ff4444
Total Dead Today
class: elegant-color-dark
color: #212121
Total New Cases Today
class: warning-color
color: #ffbb33
Total Active Cases
class: info-color
color: #33b5e5
Total Recovered
class: success-color
color: #00C851
*/
.c-header{
    margin-bottom: 10%;
    margin-top: auto;
}
.headline-1{
    font-family: 'Anton', sans-serif;
    font-weight: 900;
    font-size: 80px;
    letter-spacing: 0.04em;
}
.headline-2{
    font-family: 'Anton', sans-serif;
    font-weight: 500;
    font-size: 30px;
    letter-spacing: 0.02em;
}
.margin-bottom{
    margin-bottom: 10%;
}